body{
margin: 5px;
background-color: #EEF0F8;
}

table
{
    border-collapse: collapse;
    border-radius: 5px;
}
td
{
    border: 1px solid black;
    border-radius: 5px;
}

.onk-panel-right{
  color: #fff;
  background-color: #1E1E2D;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  width: 250px;
}

.onk-title-h3{
  background-color: #1A1A27;
  margin-right: 0;
  margin: 0;
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
  font-size: 12px;
  font-family: Arial, sans-serif;
}

.onk-panel-right-under-title{
  text-decoration: none;
  color: #fff;
  font-family: Arial, sans-serif;
}

.onk-panel-right-under-categorie{
  color: #464866;
  padding: 10px;
  font-size: 12px;
  font-family: Arial, sans-serif;
  position: relative;
  top: 25px
}

.onk-panel-right-img{
  width: 25px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 8px;
  position: relative;
  top: 15px;
}

.onk-general{
  position: fixed;
  padding-left: 255px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.onk-header-general{
  margin-left: 280px;
  margin-bottom: -160px;
  background-color: #EEF0F8;
}

.onk-header-la{
  text-decoration: none;
  background-color: #fff;
  padding-left: 10px;
  margin-left: -40px;
  margin-top: -10px;
  padding-top: 20px;
}


.onk-general-ps{
  font-family: arial;
  padding-left: 25px;
  margin-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.onk-top-lipsum{
  margin-left: 280px;
  padding-bottom: -120px;
  background-color: #fff;
  margin-right: 30px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px;
}

.onk-topbar-hi{
  margin-left: 90%;
  position: relative;
  top: -120px;
  font-family: Arial;
}

.onk-topbar-img{
  margin-left: 95%;
  position: relative;
  top: -170px;
}

.onk-table-int{
  border: 1px solid #464866;
  background-color: #fff;
}

.onk-h3-table{
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

.onk-h5-table{
  color: #b8b2b2;
  font-family: Arial;
}

.onk-hr-table{
  width: 800px;
  color: #818292;
}

.onk-li-head-1{
  list-style-type: none;
  font-family: Arial;
  font-size: 22px;
  position: relative;
  top: -4px;
}

.onk-li-head-2{
  list-style-type: none;
  margin-left: 13%;
  position: relative;
  top: -20px;
  font-family: Arial;
  color: #464866;
  font-size: 10px;
}

.onk-li-head-3{
  list-style-type: none;
  margin-left: 20%;
  position: relative;
  top: -89px;
  font-family: Arial;
  color: #464866;
  font-size: 10px;
}

.onk-separateur{
  margin-left: 17.5%;
  position: relative;
  top: -55px;
}

.onk-lispum-img{
  position: relative;
}

.onk-lipsum-text{
  position: relative;
  top: -60px;
  margin-left: 60px;
  font-family: Arial;
}

.onk-table{
  margin-left: 30%;
  margin-right: 10%;
  font-family: Arial;
}

.onk-table-1{
  padding-left: 25px;
  padding-right: 25px;
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Arial;
  font-size: 24;
  border: 1px solid #818292;
}

.onk-table-2{
  padding-left: 25px;
  padding-right: 25px;
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Arial;
  font-size: 24;
  border: 1px solid #818292;
}

.onk-table-3{
  padding-left: 25px;
  padding-right: 25px;
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Arial;
  font-size: 24;
  border: 1px solid #818292;
}

.onk-table-4{
  padding-left: 25px;
  padding-right: 25px;
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Arial;
  font-size: 24;
  border: 1px solid #818292;
}

.onk-table-5{
  padding-left: 25px;
  padding-right: 25px;
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Arial;
  font-size: 24;
  border: 1px solid #818292;
}

.onk-table-6{
  padding-left: 25px;
  padding-right: 25px;
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Arial;
  font-size: 24;
  border: 1px solid #818292;
}

.onk-table-7{
  padding-left: 25px;
  padding-right: 25px;
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Arial;
  font-size: 24;
  border: 1px solid #818292;
}

.onk-footer-general{
 margin-left: -280px;
}

.onk-footer-atc{

}

.onk-copyright{

}