body{
	background-image: url(bg.jpeg);
	background-repeat: no-repeat;
	text-align: center;
	margin: 0;
	padding: 0;
}

input[type=text]{
	font-family: arial;
	width: 100%;
	height: 20px;
	border-radius: 5px;
}

input[type=submit]{
	margin-top: 30px;
	border-radius: 5px;
	width: 100%;
	color: white;
	background-color: #37af65;
	height: 30px;
	font-size: 20px;
	border-color: transparent;
	margin-bottom: 25px;
}

textarea[name=textarea]{
	 font-family: arial;
	 font-size: 14px;
	 resize : both;
	 min-width : 610px;
	 min-height : 100px;
	 max-width : 610px;
	 max-height : 150px;
}

select{
	width: 615px;
	font-size: 16px;
	color: #767676;
}

.onk-body{
	background-color: rgba(113, 110, 255, 0.5);
	height: 100%;
	width: 100%;
	color: #fff;
	margin: auto;
	margin-top: -35px;
	padding-right: 35px;
	padding-left: 35px;
	font-size: 30px;
	padding: 15px;
}

.onk-body-2{
	background-color: rgb(42, 42, 74);
	font-family: arial, sans-serif;
	font-size: 16px;
	margin-right: 25%;
	margin-left: 25%;
	margin-bottom: 15px;
	text-align: left;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 30px;
	border-radius: 2.5px;
}

.onk-opt-select{
	background-color: #fff;
	border-radius: 1.5px;
	width: 20%;
	height: 20px;
	padding-bottom: 15px;
}

.onk-div-input-radio{

}

.onk-title-top{
	font-family: Arial;
}

.onk-title-top-2{
	font-style: italic;
	font-size: 15px;
}

.onk-checkbox-bottom-list{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.onk-footer-sub{
	text-align: center;
}