body{
	font-family: arial, sans-serif;
	text-align: center;
	background: #EDEDED;
}
.onk-header{
	color: #333333;
	margin-top: 15px;
	margin-bottom: 5px;
	padding-top: 20px;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 26px;
}
.onk-header-bottom{
	font-size: 12px;
	padding-bottom: 10px;
}

.onk-img{
	background: #fff;
	padding-bottom: 10px;
}

.onk-body-bio{
	padding-top: 15px;
}

.onk-title-bio{
	padding-bottom: 15px;
}

.onk-cita{
	margin-left: 30%;
	margin-right: 30%;
	text-align: left;
	font-style: italic;
}

.onk-bottom-cita{
	margin-left: 30%;
	margin-right: 30%;
	text-align: left;
	font-style: italic;
}

.onk-list-general{
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 14px;
	margin: 30%;
	margin-top: 0%;
	margin-bottom: 0%;
	text-align: left;
}

